.CodeMirror-code {
  width: 200%;
  font-size: 11px;
}
.CodeMirror .CodeMirror-lines * { 
  font-family: Verdana !important;
}
.sqs-header-tray-content .header {
  display: none;
}
.CodeMirror-scroll  {
  height: 70vh !important;
}
